/*
 *= require_tree .
 *= require_self
 */

body{
  font-family: 'Lato', sans-serif;
  background: #EDEFF0;
}

.wrapper{
  width: 60%;
  max-width: 1140px;
  margin: 0 auto;
}

.main_header{
  width: 100%;
  margin: 0 auto;
  background: White;

  #logo{
    float:left;
    a{
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: -1px;
      font: 1.2rem;
      text-decoration: none;
      color: #397CAC;
    }
  }

  #buttons{
    float: right;

    a{
      line-height: 60px;
      background: #397CAC;
      padding: .5em 1em;
      border-radius: 0.2em;
      color: white;
      text-decoration: none;
      font-weight: 100;
    }
  }

}

.clearfix:before, .clearfix:after{
  content: " ";
  display: table;
}

.clearfix:after{
  clear: both;
}

#posts {
	background: white;
	padding: 2em 5%;
	border-radius: .5em;
	.post {
		margin: 1em 0;
		padding: 1em 0;
		.title {
			margin: 0;
			a {
				color: #397CAC;
				text-decoration: none;
				font-weight: 100;
				font-size: 1.25rem;
			}
		}
		.date {
			margin-top: .25rem;
			font-size: 0.9rem;
			color: #B2BAC2;
		}
	}
}

#post_content{
  background: white;
  padding: 2em 5%;
  border-radius: .5em;

  h1{
    font-weight: 100;
    font-size: 2em;
    color: #397CAC;
    margin-top: 0;

  }
  p{
    color: #B2BAC2;
    font-size: 1em;
    font-weight: 100;
    line-height: 1.5;
  }
}
